@import 'styles/kup-text-fielda-main.scss';
@import 'styles/kup-text-fielda-classes.scss';

.f-text-fielda--wrapper {
  .text-field {
    border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-flex;
    align-items: baseline;
    padding: 0 16px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    will-change: opacity, transform, color;

    .text-field__input {
      caret-color: var(--kup-primary-color);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: var(--kup-font-family);
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 0.009375em;
      text-decoration: inherit;
      text-transform: inherit;
      height: 28px;
      transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
      width: 100%;
      min-width: 0;
      border: none;
      border-radius: 0;
      background: none;
      appearance: none;
      padding: 0;
      outline: none;
    }

    .text-field__icon {
      align-self: center;
      cursor: pointer;
      background-color: var(--kup-icon-color);
      cursor: pointer;
      height: 24px;
      outline: none;
      padding: 0 7px;
      width: 24px;

      &.clear {
        right: 0px;
        left: initial;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .floating-label {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.009375em;
      text-decoration: inherit;
      text-transform: inherit;
      position: absolute;
      left: 0;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      line-height: 1.15em;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: text;
      overflow: hidden;
      will-change: transform;
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms;
    }

    .notched-outline {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      height: 100%;
      text-align: left;
      pointer-events: none;
      opacity: 1;
      z-index: 1;

      .notched-outline__leading,
      .notched-outline__notch,
      .notched-outline__trailing {
        box-sizing: border-box;
        height: 100%;
        border-top: 1px solid;
        border-bottom: 1px solid;
        pointer-events: none;
      }

      .notched-outline__leading {
        border-left: 1px solid;
        border-right: none;
        width: 12px;
      }

      .notched-outline__trailing {
        border-left: none;
        border-right: 1px solid;
        flex-grow: 1;
      }
    }

    .line-ripple {
      &:before {
        border-bottom-color: rgba(var(--kup-text-color-rgb), 0.325);
        border-bottom-width: 1px;
        z-index: 1;
      }

      &:after {
        transform: scaleX(0);
        border-bottom-color: var(--kup-primary-color);
        border-bottom-width: 2px;
        opacity: 0;
        z-index: 2;
        transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
          opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:before,
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom-style: solid;
        content: '';
      }
    }

    &.text-field--filled {
      background-color: var(--kup-field-background-color);
      height: 40px;
    }

    &.text-field--outlined {
      height: 40px;
      padding-right: 16px;
      overflow: visible;
      transition: border-color 0.25s;

      .text-field__input {
        height: 100%;
        display: flex;
        border: none !important;
        background-color: transparent;
      }

      .notched-outline {
        .notched-outline__leading,
        .notched-outline__notch,
        .notched-outline__trailing {
          border-color: rgba(var(--kup-text-color-rgb), 0.575);
          border-bottom-style: inset;
          transition: border-color 120ms;
        }

        .notched-outline__leading {
          border-top-left-radius: 4px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 4px;
          width: 12px;
        }

        .notched-outline__trailing {
          border-top-right-radius: 4px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 4px;
          width: 12px;
        }

        .floating-label {
          display: inline-block;
          position: relative;
          max-width: 100%;
          left: 20px;
          right: initial;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
        }
      }

      &.text-field--with-leading-icon {
        &.notched-outline .notched-outline__notch {
          max-width: calc(100% - max(12px, 8px));
        }

        &:not(.notched-outline--notched) .notched-outline__notch {
          max-width: calc(100% - 60px);
        }
      }

      &:not(.text-field--textarea) {
        label.floating-label {
          display: block;
        }
      }
    }

    &.text-field--with-leading-icon {
      padding-left: 0;
      padding-right: 16px;
    }

    &.text-field--focused {
      .line-ripple {
        &:after {
          opacity: 1;
          transform: scaleX(1);
        }
      }

      &.text-field--outlined {
        .notched-outline {
          .notched-outline__leading,
          .notched-outline__notch,
          .notched-outline__trailing {
            border-color: var(--kup-primary-color);
            border-width: 2px;
          }
        }
      }
    }

    &.text-field.is-clearable {
      .text-field__input {
        padding-right: 48px;
      }
    }

    &:not(.text-field--disabled) {
      .text-field__input,
      .floating-label,
      .text-field__input::placeholder,
      .text-field-character-counter,
      + .text-field-helper-line .text-field-character-counter,
      + .text-field-helper-line .text-field-helper-text {
        color: var(--kup-text-color);
        opacity: 0.7;
      }

      .text-field__input {
        opacity: 1;
      }
    }

    &:not(.text-field--outlined):not(.text-field--textarea) {
      .text-field__input {
        height: 100%;
      }
    }
  }
}

/*
#kup-component {
    .f-text-fielda--wrapper {
      .form-field {
        & label {
          font-family: var(--kup-font-family);
          font-size: 1em;
          margin: auto;
        }
        .text-field__input {
          box-sizing: border-box;
          padding: 6px 0px;
        }
      }
  
      .text-field {
        div.text-field-helper-text {
          font-family: var(--kup-font-family);
          font-size: 0.75em;
        }
  
        .icon-container {
          background-color: var(--kup-icon-color);
          cursor: pointer;
          height: 24px;
          outline: none;
          padding: 0 7px;
          width: 24px;
          &.clear:hover {
            background-color: var(--kup-danger-color);
          }
        }
  
        input,
        label {
          font-family: var(--kup-font-family);
          font-size: 1em;
        }
  
        &.text-field--filled:not(.text-field--disabled)
          .line-ripple:before,
        &.text-field--fullwidth:not(.text-field--disabled)
          .line-ripple:before {
          border-bottom-color: rgba(var(--kup-text-color-rgb), 0.325);
          &:hover {
            border-bottom-color: rgba(var(--kup-text-color-rgb), 0.575);
          }
          &.line-ripple--active {
            border-bottom-color: var(--kup-primary-color);
          }
        }
  
        &.text-field--with-leading-icon .floating-label {
          left: 36px;
        }
  
        & .text-field__icon.clear {
          right: 0px;
          left: initial;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
  
        &.text-field--with-trailing-icon input ~ .clear {
          right: 26px;
        }
  
        &.is-clearable .text-field__input {
          padding-right: 48px;
        }
  
        &.text-field--with-trailing-icon.is-clearable .text-field__input {
          padding-right: 72px;
        }
  
        &.text-field--fullwidth.text-field--focused {
          color: var(--kup-primary-color);
        }
  
        &.text-field--fullwidth {
          width: 100%;
        }
  
        &.text-field--outlined {
          &.text-field--with-leading-icon
            label:not(.floating-label--float-above) {
            left: 20px;
          }
  
          & .notched-outline__leading,
          & .notched-outline__notch,
          & .notched-outline__trailing {
            border-color: rgba(var(--kup-text-color-rgb), 0.575);
            border-bottom-style: inset;
          }
  
          &:hover .notched-outline__leading,
          &:hover .notched-outline__notch,
          &:hover .notched-outline__trailing,
          &.text-field--focused .notched-outline__leading,
          &.text-field--focused .notched-outline__notch,
          &.text-field--focused .notched-outline__trailing {
            border-color: var(--kup-primary-color);
          }
  
          &.text-field--disabled .notched-outline__leading,
          &.text-field--disabled .notched-outline__notch,
          &.text-field--disabled .notched-outline__trailing {
            border-color: rgba(var(--kup-text-color-rgb), 0.325);
          }
  
          &.text-field--disabled {
            color: rgba(var(--kup-text-color-rgb), 0.5);
  
            & .text-field__input {
              color: rgba(var(--kup-text-color-rgb), 0.5);
            }
  
            & label {
              color: rgba(var(--kup-text-color-rgb), 0.5);
            }
          }
  
          &.text-field--textarea .floating-label--float-above {
            transform: translateY(-160%) scale(0.75);
          }
        }
  
        &:not(.text-field--outlined):not(.text-field--textarea) {
          @include text-field-density(-4);
  
          label.floating-label {
            display: block;
          }
        }
  
        &.text-field--outlined:not(.text-field--textarea) {
          @include text-field-outlined-density(-4);
  
          label.floating-label {
            display: block;
            &.floating-label--float-above {
              overflow: visible;
            }
          }
  
          transition: border-color 0.25s;
  
          &.text-field--with-leading-icon .floating-label--float-above {
            transform: translateY(-26px) scale(0.75) translateX(-42px);
          }
        }
  
        &.text-field--filled {
          &.text-field--with-leading-icon label,
          &.text-field--with-leading-icon input {
            left: 34px;
          }
          .floating-label--float-above {
            transform: translateY(-111%) scale(0.75);
          }
          &:not(.text-field--no-label) input {
            box-sizing: border-box;
            padding-top: 9px;
          }
          &:not(.text-field--disabled) {
            background-color: var(--kup-field-background-color);
          }
        }
  
        & .notched-outline {
          opacity: 1;
        }
  
        &:not(.text-field--disabled) {
          & .text-field__input,
          & .floating-label,
          & .text-field__input::placeholder,
          & .text-field-character-counter,
          & + .text-field-helper-line .text-field-character-counter,
          & + .text-field-helper-line .text-field-helper-text {
            color: var(--kup-text-color);
          }
          & .floating-label,
          & .text-field__input::placeholder,
          & .text-field-character-counter,
          & + .text-field-helper-line .text-field-character-counter,
          & + .text-field-helper-line .text-field-helper-text {
            opacity: 0.7;
          }
  
          &.text-field--textarea .text-field-character-counter {
            position: absolute;
            bottom: 9px;
            right: 15px;
          }
        }
  
        &.text-field--disabled:not(.text-field--outlined) {
          color: var(--kup-disabled-color);
          background: var(--kup-disabled-background-color);
  
          & .text-field__input {
            color: var(--kup-disabled-color);
            background: var(--kup-disabled-background-color);
          }
  
          & label {
            color: var(--kup-disabled-color);
            background: var(--kup-disabled-background-color);
          }
        }
  
        &:not(.text-field--focused)
          + .text-field-helper-line
          .text-field-helper-text:not(.text-field-helper-text--persistent) {
          opacity: 0;
        }
  
        &.text-field--focused:not(.text-field-disabled)
          .floating-label--float-above {
          color: var(--kup-primary-color);
          opacity: 1;
        }
      }
  
      &.#{$kup-class-full-height} {
        height: 100%;
        .text-field {
          height: 100%;
          overflow-y: hidden;
          &:not(.text-field--outlined):not(.text-field--textarea) {
            height: 100%;
          }
          .text-field__input {
            height: 100%;
          }
        }
      }
  
      &.#{$kup-class-full-width} {
        width: 100%;
      }
  
      &.shaped {
        .text-field.text-field--filled {
          border-radius: 16px 16px 0 0;
        }
  
        .text-field.text-field--outlined
          .notched-outline
          .notched-outline__leading {
          border-radius: 28px 0 0 28px;
          width: 28px;
        }
  
        .text-field.text-field--outlined
          .notched-outline
          .notched-outline__trailing {
          border-radius: 0 28px 28px 0;
          width: 28px;
        }
      }
    }
  }
  */
