/**
* @prop --kup-cookie-consent-zindex: Sets z-index of the component.
*/

:host {
    --kup_cookie_consent_zindex: var( --kup-cookie-consent-zindex,
    9999);

    background-color: var(--kup-background-color);
    color: var(--kup-text-color);
    display: block;
    font-family: var(--kup-font-family);
    font-size: var(--kup-font-size);
    box-shadow: var(--kup-box-shadow);
    z-index: var(--kup_cookie_consent_zindex);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
  }


#kup-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;

    > * {
        margin: 1em;
        margin-top: auto;
        margin-bottom: auto;
    }
}